@layer base {
  body {
    margin: 0;
    box-sizing: border-box;
  }
}

.background-container {
  background-image: url(C:/Users/Owner/Coding-Projects/turbo-explorer-9000/src/assets/WorldMap.jpg);
  background-position-y: 42.3%;
  background-position-x: 23%;
  background-size: 200%;
}
