body {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
  height: 20%;
}

.background-container {
  background-image: url("/assets/WorldMap.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
