@layer base {
  body {
    margin: 0;
    box-sizing: border-box;
  }
}

.background-container {
  background-image: url(C:/Users/Owner/Coding-Projects/turbo-explorer-9000/src/assets/WorldMap2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
